.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #333333;

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.rodape__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.rodape__midia {
    display: flex;
}

.rodape__navegacao {
    color: #FFF;
    text-align: center;
    line-height: 3;
}


.rodape__link {
    display: inline-block;

    margin: 0 .5rem .7rem;
}